name: Test github action
on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test github action
    runs-on: ubuntu-22.04
    steps:
      - name: run github action
        uses: chzenchzen/commit-message-output@main
        id: test-run
      - name: debug output
        run: echo "${{ steps.test-run.outputs.tag }}"


